IPLHost/Service References/IPLServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/IPLRest" />
  <xs:element name="sale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cashBack" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tillNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IPLRest" minOccurs="0" name="saleResult" nillable="true" type="q1:IPLResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reversal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rrn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reversalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IPLRest" minOccurs="0" name="reversalResult" nillable="true" type="q2:IPLResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="execSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IPLRest" minOccurs="0" name="req" nillable="true" type="q3:SaleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="execSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IPLRest" minOccurs="0" name="execSaleResult" nillable="true" type="q4:IPLResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="execReversal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IPLRest" minOccurs="0" name="req" nillable="true" type="q5:ReversalRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="execReversalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IPLRest" minOccurs="0" name="execReversalResult" nillable="true" type="q6:IPLResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>